@forward "./reboot";

body,
#__next {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

aside#sidebar {
  flex: 0 0 auto;
  width: 35%;
  min-width: 20rem;
  max-width: 35rem;
  height: 100%;
  background: rgba(0, 0, 0, .2);
}

main {
  flex: 1 1 auto;
}

fieldset label {
  display: block;
}
